
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 15.648rem;
}.add-file-jL8 {
  width: 100%;
  height: 22.5rem;
  position: relative;

  .removebg-preview-1-HcY {
    vertical-align: top;
    width: 15.6481rem;
    height: 20rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  .add-file-psN {
    line-height: 1.2575;
    color: #086ada;
    white-space: nowrap;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 400;
    top: 19.4rem;
    font-family: Times New Roman, 'Source Sans Pro';
    width: 8.1rem;
    height: 3.1rem;
    left: 3.574rem;
  }
}
