
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13.013rem;
}.gear-setting-logo-icon-vector-24042661-removebg-preview-1-17J {
  width: 100%;
  height: 12.7851rem;
  object-fit: cover;
  vertical-align: top;
}
