
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-Sg4 {
  height: 152rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .patient-users-only-ypQ {
    width: 29rem;
    top: 0.3625rem;
    font-size: 3.6rem;
    line-height: 1.2575;
    white-space: nowrap;
    height: 4.6rem;
    position: absolute;
    left: 110.1911rem;
    font-weight: 400;
    color: #000000;
    font-family: Times New Roman, 'Source Sans Pro';
  }
  .logo-4zG {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:822cec4ed2a3a72f88c327d56e72e3cfdb12f72c');
    left: 0;
    top: 0;
    background-size: 100% 100%;
    height: 21.4761rem;
    position: absolute;
    box-sizing: border-box;
    padding: 6.856rem 8.911rem 9.931rem 5.79rem;
    width: 18.6867rem;

    .pngtree-shield-lock-logo-icon-vector-template-png-image3558680-removebg-preview-1-Nmz {
      width: 3.986rem;
      height: 4.6883rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .healthhithiyas-t84 {
    color: #ba2e33;
    white-space: nowrap;
    height: 6.1rem;
    position: absolute;
    left: 14.2792rem;
    top: 2.4125rem;
    line-height: 1.2575;
    width: 32.1rem;
    font-size: 4.8rem;
    font-weight: 400;
    font-family: Times New Roman, 'Source Sans Pro';
  }
  .pages-7mW {
    position: absolute;
    left: 12rem;
    top: 11.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 120rem;
    height: 131.2953rem;

    .page-1-CHA {
      margin: 0rem 0rem 1.224rem 0.039rem;
      overflow: hidden;
      flex-direction: column;
      background-color: #e2dada;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 1.3352rem;
      width: calc(100% - 0.0387rem);
      position: relative;
      display: flex;

      .auto-group-994g-dtG {
        align-items: center;
        display: flex;
        flex-direction: column;
        border-top: solid 0.1rem #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.241rem 4.899rem 3.953rem 2.934rem;
        width: 100%;

        .line-3-h7S {
          margin: 0rem 34.636rem 1.91rem 77.382rem;
          width: calc(100% - 112.0179rem);
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .auto-group-q1zl-9VE {
          width: 100%;
          height: 12.6163rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-ptyl-34p {
            margin-right: 12.0563rem;
            width: 66.6751rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .profile-asN {
              width: 37.0174rem;
              position: absolute;
              left: 0;
              top: 0;
              display: flex;
              align-items: flex-start;
              box-sizing: border-box;
              padding-right: 2.261rem;
              height: 12.6163rem;
              border-radius: 10.9832rem;

              .profile-logo-5JL {
                border-radius: 10.9832rem;
                flex-shrink: 0;
                margin-right: 2.979rem;
                width: 12.0774rem;
                height: 11.1163rem;
                object-fit: cover;
                vertical-align: top;
              }
              .auto-group-1bxy-Mme {
                flex-shrink: 0;
                width: 19.7rem;
                height: 12rem;
                position: relative;

                .user-g3E {
                  white-space: nowrap;
                  height: 8.1rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  font-size: 6.4rem;
                  color: #1e1e1e;
                  font-family: Times New Roman, 'Source Sans Pro';
                  width: 14.5rem;
                  font-weight: 400;
                  line-height: 1.2575;
                }
                .item-0000000000-Krt {
                  left: 0;
                  top: 7.4rem;
                  font-family: Times New Roman, 'Source Sans Pro';
                  width: 19.7rem;
                  position: absolute;
                  font-size: 3.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #1e1e1e;
                  white-space: nowrap;
                  height: 4.6rem;
                }
              }
            }
            .email-M2t {
              display: flex;
              align-items: center;
              width: 29.8067rem;
              height: 5.9rem;
              position: absolute;
              left: 36.8684rem;
              top: 0;

              .email-logo-Fe4 {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0rem;
                width: 7.2067rem;
                height: 5.9rem;
              }
              .usergmailcom-Zek {
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                font-size: 3.2rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
              }
            }
            .phone-45i {
              position: absolute;
              left: 38.3575rem;
              top: 6.3582rem;
              display: flex;
              align-items: flex-start;
              width: 23.6176rem;
              height: 4.4rem;

              .phone-logo-Bg8 {
                margin-right: 1.4891rem;
                width: 4.2285rem;
                height: 4rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .item-123-456-7890-7Zn {
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.3rem;
                font-size: 3.2rem;
              }
            }
          }
          .addres-pj6 {
            margin-top: 0.3837rem;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .address-logo-nA8 {
              margin-right: 4.4494rem;
              width: 7.486rem;
              height: 10.3163rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .first-road-51th-cross-banglore-KQx {
              margin-bottom: 0.3407rem;
              max-width: 21.5rem;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Times New Roman, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
      }
      .rectangle-1-Bxx {
        background-color: #ecb6b6;
        flex-shrink: 0;
        width: 100%;
        height: 5.7742rem;
      }
      .auto-group-ishn-7bi {
        width: calc(100% - 3.3975rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin-right: 3.3975rem;

        .scanner-qXi {
          height: 36.6271rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.337rem 0.014rem 0rem;
          width: 32.1072rem;
        }
        .auto-group-37t2-A4C {
          flex-shrink: 0;
          width: 78.1579rem;
          height: 32.341rem;
          position: relative;

          .hello-dr-am-abcd-have-issues-facing-to-blood-sugar-sugar-blood-pressure-bp-and-possibly-digestion-gestic-from-2-years-5wr {
            line-height: 1.2575;
            color: #000000;
            left: 1.3579rem;
            top: 0;
            font-size: 3.2rem;
            font-weight: 400;
            font-family: Times New Roman, 'Source Sans Pro';
            width: 76.8rem;
            height: 16.1rem;
            position: absolute;
          }
          .rectangle-2-9Rv {
            width: 76.7954rem;
            height: 14.5715rem;
            position: absolute;
            left: 0.1078rem;
            top: 15.5683rem;
            background-color: #d9d9d9;
          }
          .rectangle-3-Uj6 {
            background-color: #d9d9d9;
            width: 36.6839rem;
            height: 3.8703rem;
            position: absolute;
            border: solid 0.1rem #000000;
            filter: blur(0.2rem);
            left: 0.5591rem;
            top: 15.6821rem;
            box-sizing: border-box;
          }
          .rectangle-4-zBe {
            filter: blur(0.2rem);
            width: 38.7866rem;
            left: 37.243rem;
            top: 15.6821rem;
            box-sizing: border-box;
            height: 3.8703rem;
            position: absolute;
            border: solid 0.1rem #000000;
            background-color: #d9d9d9;
          }
          .blood-pressure-bp-hbr {
            left: 7.5145rem;
            line-height: 1.2575;
            font-family: Times New Roman, 'Source Sans Pro';
            width: 26.2rem;
            position: absolute;
            font-size: 3.2rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            height: 4.1rem;
            top: 15.6821rem;
          }
          .blood-sugar-sugar-1cY {
            height: 4.1rem;
            font-weight: 400;
            line-height: 1.2575;
            font-family: Times New Roman, 'Source Sans Pro';
            white-space: nowrap;
            width: 25.8rem;
            position: absolute;
            left: 41.9463rem;
            top: 15.6821rem;
            font-size: 3.2rem;
            color: #000000;
          }
          .boder-1-WJQ {
            width: 76.9552rem;
            height: 14.6544rem;
            position: absolute;
            left: 0;
            top: 15.5683rem;
            object-fit: contain;
            vertical-align: top;
          }
          .slno-1-F16 {
            width: 1.6rem;
            height: 10.7rem;
            position: absolute;
            left: 1.5068rem;
            top: 19.5353rem;

            .item-3-Adr {
              width: 1.6rem;
              height: 4.1rem;
              left: 0;
              font-size: 3.2rem;
              line-height: 1.2575;
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              top: 6.6rem;
              font-weight: 400;
              color: #000000;
            }
            .item-1-HCg {
              width: 1.6rem;
              font-size: 3.2rem;
              line-height: 1.2575;
              top: 0;
              font-weight: 400;
              color: #000000;
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
              height: 4.1rem;
              position: absolute;
              left: 0;
            }
            .item-2-PmW {
              position: absolute;
              left: 0;
              font-size: 3.2rem;
              font-weight: 400;
              font-family: Times New Roman, 'Source Sans Pro';
              height: 4.1rem;
              top: 3.7rem;
              line-height: 1.2575;
              color: #000000;
              white-space: nowrap;
              width: 1.6rem;
            }
          }
          .bfaf-note-hXJ {
            height: 12.7886rem;
            position: absolute;
            left: 20.8415rem;
            top: 19.5524rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            width: 38.8528rem;

            .auto-group-e8n8-cuA {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 1.8rem 16.714rem;
              width: calc(100% - 16.714rem);

              .bf-LaG {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 18.839rem 0.133rem 0rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
              }
              .af-rYc {
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1329rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
              }
            }
            .auto-group-y52u-ajW {
              margin: 0rem 0rem 1.836rem 16.779rem;
              width: calc(100% - 16.7785rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .bf-WdA {
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.014rem 18.774rem 0rem 0rem;
                font-size: 1.5rem;
                font-weight: 400;
              }
              .af-Ep4 {
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.0136rem;
                font-size: 1.5rem;
              }
            }
            .auto-group-npvr-yWk {
              margin: 0rem 0rem 1.296rem 16.779rem;
              width: calc(100% - 16.7785rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .bf-7N4 {
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.11rem 18.774rem 0rem 0rem;
                font-size: 1.5rem;
              }
              .af-FDN {
                flex-shrink: 0;
                margin-bottom: 0.1101rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .note-bf-is-before-food-and-af-is-after-food-aFe {
              margin-right: 10.9528rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .page-2-4wW {
      width: 100%;
      height: 67.5rem;
      position: relative;
      overflow: hidden;
      background-color: #e2dada;
      flex-shrink: 0;

      .file-1-zaG {
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 23.1rem;
        position: absolute;
        left: 3.1332rem;
        top: 4.1035rem;
        align-items: center;

        .removebg-preview-1-iWG {
          height: 20rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0rem;
          width: 20rem;
        }
        .cold-on-12-5-2023-32k {
          flex-shrink: 0;
          margin-left: 0.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Times New Roman, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .file-2-ANG {
        width: 20rem;
        height: 23.1rem;
        position: absolute;
        left: 31.9756rem;
        top: 4.1035rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .removebg-preview-1-h7J {
          margin-bottom: 0rem;
          width: 20rem;
          height: 20rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .cold-on-12-5-2023-phi {
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Times New Roman, 'Source Sans Pro';
        }
      }
      .file-3-kbN {
        flex-direction: column;
        width: 20rem;
        height: 23.1rem;
        position: absolute;
        left: 60.818rem;
        top: 4.1035rem;
        align-items: center;
        display: flex;

        .removebg-preview-1-sfz {
          flex-shrink: 0;
          margin-bottom: 0rem;
          width: 20rem;
          height: 20rem;
          object-fit: cover;
          vertical-align: top;
        }
        .cold-on-12-5-2023-cda {
          margin-left: 0.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Times New Roman, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .file-5-97i {
        height: 54.4504rem;
        position: absolute;
        left: 3.1332rem;
        top: 4.1035rem;
        display: flex;
        align-items: flex-end;
        width: 106.5272rem;

        .auto-group-jxlu-51N {
          margin-right: 8.8424rem;
          width: 20rem;
          height: 23.1rem;
          position: relative;
          flex-shrink: 0;

          .removebg-preview-1-QpL {
            object-fit: cover;
            vertical-align: top;
            width: 20rem;
            height: 20rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .cold-on-12-5-2023-kNQ {
            width: 17.9rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            height: 3.1rem;
            position: absolute;
            left: 1.25rem;
            top: 20rem;
            font-family: Times New Roman, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .file-6-3sJ {
          flex-shrink: 0;
          margin-right: 37.6848rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .removebg-preview-1-D16 {
            flex-shrink: 0;
            width: 20rem;
            height: 20rem;
            object-fit: cover;
            vertical-align: top;
          }
          .cold-on-12-5-2023-LbW {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Times New Roman, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.4rem;
          }
        }
        .file-4-sLY {
          flex-shrink: 0;
          margin-bottom: 31.3504rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .removebg-preview-1-pma {
            height: 20rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0rem;
            width: 20rem;
          }
          .cold-on-12-5-2023-AKe {
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Times New Roman, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
