
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 12.077rem;
}.male-avatar-profile-picture-vector-10211761-removebg-preview-1-1-s7a {
  width: 100%;
  height: 11.1163rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10.9832rem;
}
