
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-bTS {
  box-sizing: border-box;
  padding-right: 0.5089rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.desktop-3-bTS .auto-group-xs64-vkc {
  margin-right: 1.8064rem;
  width: 102.3471rem;
  height: 164.4959rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc {
  width: 100%;
  height: 55.2151rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc .logo-zVa {
  box-sizing: border-box;
  padding: 6.856rem 8.911rem 9.931rem 5.79rem;
  width: 18.6867rem;
  height: 21.4761rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/priocr777200501262-removebg-preview-1-bg-s4Y.png');
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc .logo-zVa .pngtree-shield-lock-logo-icon-vector-template-png-image3558680-removebg-preview-1-ucY {
  width: 3.986rem;
  height: 4.6883rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc .healthhithiyas-ysJ {
  width: 32.1rem;
  height: 6.1rem;
  position: absolute;
  left: 14.2792rem;
  top: 2.4125rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ba2e33;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc .d4705544373301dfa969b6efed52bfc3-removebg-preview-1-G5i {
  width: 69.0362rem;
  height: 36rem;
  position: absolute;
  left: 22.0302rem;
  top: 0.3625rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc .png-transparent-cloverleaf-sports-bar-grill-camera-lens-closed-circuit-television-graphy-insta-purple-television-lens-thumbnail-removebg-preview-1-xz8 {
  width: 6.7788rem;
  height: 7.4951rem;
  position: absolute;
  left: 72rem;
  top: 14.615rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc .edit-3Et {
  width: 81.3336rem;
  height: 28.3669rem;
  position: absolute;
  left: 16.7215rem;
  top: 22.1101rem;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc .edit-3Et .verifyotp-removebg-preview-1-yeL {
  width: 81.3336rem;
  height: 22.188rem;
  position: absolute;
  left: 0;
  top: 3.4979rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc .edit-3Et .rectangle-5-uXz {
  width: 2.9612rem;
  height: 26.8978rem;
  position: absolute;
  left: 16.2145rem;
  top: 1.4692rem;
  background-color: #ffffff;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc .edit-3Et .rectangle-6-dit {
  width: 2.9612rem;
  height: 26.8978rem;
  position: absolute;
  left: 69.6435rem;
  top: 0;
  background-color: #ffffff;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-9ktr-egc .line-14-yXr {
  width: 100.3805rem;
  height: 1.4454rem;
  position: absolute;
  left: 0.0014rem;
  top: 45.9152rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW {
  box-sizing: border-box;
  padding: 0.424rem 0.552rem 0rem 1.965rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 {
  margin-bottom: 2.6887rem;
  width: 100%;
  height: 91.1529rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .date-bar-ygG {
  width: 92.3014rem;
  height: 72.7145rem;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .date-bar-ygG .today--v5i {
  margin: 0rem 0rem 62.515rem 0.001rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .date-bar-ygG .item-10-01-2024--D4p {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-1-WZi {
  box-sizing: border-box;
  padding: 1.37rem 38.09rem 2.654rem 0.661rem;
  width: 98.0551rem;
  height: 18.5147rem;
  position: absolute;
  left: 1.1641rem;
  top: 5.372rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-1-WZi .item-20-c6x {
  margin: 0.5rem 1.986rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-1-WZi .male-avatar-profile-picture-vector-10211761-removebg-preview-1-2-vtL {
  margin-right: 1.986rem;
  width: 16.0056rem;
  height: 14.491rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10.9832rem;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-1-WZi .auto-group-mogy-qEc {
  margin-top: 2rem;
  width: 35.3267rem;
  height: 10.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-1-WZi .auto-group-mogy-qEc .patient-name-mtx {
  width: 26.7rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-1-WZi .auto-group-mogy-qEc .health-issue-faced-swz {
  width: 31.1rem;
  height: 5.1rem;
  position: absolute;
  left: 4.2267rem;
  top: 5.7rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-2-aLc {
  box-sizing: border-box;
  padding: 1.37rem 38.09rem 2.654rem 0.661rem;
  width: 98.0551rem;
  height: 18.5147rem;
  position: absolute;
  left: 1.775rem;
  top: 27.2359rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-2-aLc .item-19-fcx {
  margin: 0.5rem 1.986rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-2-aLc .male-avatar-profile-picture-vector-10211761-removebg-preview-1-2-mvt {
  margin-right: 1.986rem;
  width: 16.0056rem;
  height: 14.491rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10.9832rem;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-2-aLc .auto-group-lwrr-syv {
  margin-top: 2rem;
  width: 35.3267rem;
  height: 10.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-2-aLc .auto-group-lwrr-syv .patient-name-268 {
  width: 26.7rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-2-aLc .auto-group-lwrr-syv .health-issue-faced-LsW {
  width: 31.1rem;
  height: 5.1rem;
  position: absolute;
  left: 4.2267rem;
  top: 5.7rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-3-q3a {
  box-sizing: border-box;
  padding: 1.37rem 38.09rem 2.654rem 0.661rem;
  width: 98.0551rem;
  height: 18.5147rem;
  position: absolute;
  left: 1.775rem;
  top: 49.0998rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-3-q3a .item-18-KUY {
  margin: 0.5rem 1.986rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-3-q3a .male-avatar-profile-picture-vector-10211761-removebg-preview-1-2-eWp {
  margin-right: 1.986rem;
  width: 16.0056rem;
  height: 14.491rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10.9832rem;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-3-q3a .auto-group-e29j-Mg8 {
  margin-top: 2rem;
  width: 35.3267rem;
  height: 10.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-3-q3a .auto-group-e29j-Mg8 .patient-name-J5a {
  width: 26.7rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-3-q3a .auto-group-e29j-Mg8 .health-issue-faced-1Vn {
  width: 31.1rem;
  height: 5.1rem;
  position: absolute;
  left: 4.2267rem;
  top: 5.7rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-4-JUt {
  box-sizing: border-box;
  padding: 1.37rem 38.09rem 2.654rem 0.661rem;
  width: 98.0551rem;
  height: 18.5147rem;
  position: absolute;
  left: 1.1641rem;
  top: 72.6381rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-4-JUt .item-50-nex {
  margin: 0.5rem 1.986rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-4-JUt .male-avatar-profile-picture-vector-10211761-removebg-preview-1-2-7SL {
  margin-right: 1.986rem;
  width: 16.0056rem;
  height: 14.491rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10.9832rem;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-4-JUt .auto-group-2jsw-prY {
  margin-top: 2rem;
  width: 35.3267rem;
  height: 10.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-4-JUt .auto-group-2jsw-prY .patient-name-a52 {
  width: 26.7rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .auto-group-ywve-qa4 .patient-details-4-JUt .auto-group-2jsw-prY .health-issue-faced-Vxg {
  width: 31.1rem;
  height: 5.1rem;
  position: absolute;
  left: 4.2267rem;
  top: 5.7rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .patient-details-5-yN4 {
  margin: 0rem 0.611rem 0rem 1.164rem;
  box-sizing: border-box;
  padding: 0.658rem 38.09rem 0rem 0.661rem;
  width: calc(100% - 1.775rem);
  display: flex;
  column-gap: 2.912rem;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .patient-details-5-yN4 .item-49-cR2 {
  margin-top: 2.0574rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .patient-details-5-yN4 .male-avatar-profile-picture-vector-10211761-removebg-preview-1-2-iDA {
  margin-bottom: 5.1rem;
  width: 14.1537rem;
  height: 9.2574rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10.9832rem;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .patient-details-5-yN4 .auto-group-wt1e-BcY {
  margin-top: 3.5574rem;
  width: 35.3267rem;
  height: 10.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .patient-details-5-yN4 .auto-group-wt1e-BcY .patient-name-HvU {
  width: 26.7rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-xs64-vkc .auto-group-iema-uRW .patient-details-5-yN4 .auto-group-wt1e-BcY .health-issue-faced-AzG {
  width: 31.1rem;
  height: 5.1rem;
  position: absolute;
  left: 4.2267rem;
  top: 5.7rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-3jwt-o1e {
  width: 41.3028rem;
  height: 153.3578rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-3jwt-o1e .dr-users-only-iuJ {
  width: 21.7rem;
  height: 4.6rem;
  position: absolute;
  left: 8.0028rem;
  top: 0.3625rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-bTS .auto-group-3jwt-o1e .dr-profile-1-awW {
  box-sizing: border-box;
  padding-right: 2.6rem;
  width: 41.3028rem;
  height: 14.491rem;
  position: absolute;
  left: 0;
  top: 18.3625rem;
  display: flex;
  align-items: flex-start;
  border-radius: 10.9832rem;
}
.desktop-3-bTS .auto-group-3jwt-o1e .dr-profile-1-awW .male-avatar-profile-picture-vector-10211761-removebg-preview-1-1-gUk {
  margin-right: 0.8972rem;
  width: 16.0056rem;
  height: 14.491rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10.9832rem;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-3jwt-o1e .dr-profile-1-awW .druser-N6g {
  margin-top: 1.3455rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #1e1e1e;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-bTS .auto-group-3jwt-o1e .line-1-HDe {
  width: 0.004rem;
  height: 153.3578rem;
  position: absolute;
  left: 0.2411rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
