
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-v6p {
  background-color: #ffffff;
  width: 100%;
  height: 152rem;
  position: relative;
  overflow: hidden;

  .dr-users-only-TMe {
    line-height: 1.2575;
    white-space: nowrap;
    height: 4.6rem;
    position: absolute;
    left: 110.1911rem;
    top: 0.3625rem;
    font-family: Times New Roman, 'Source Sans Pro';
    width: 21.7rem;
    font-size: 3.6rem;
    font-weight: 400;
    color: #000000;
  }
  .logo-9VN {
    position: absolute;
    top: 0;
    background-position: center;
    box-sizing: border-box;
    padding: 6.856rem 8.911rem 9.931rem 5.79rem;
    width: 18.6867rem;
    height: 21.4761rem;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:822cec4ed2a3a72f88c327d56e72e3cfdb12f72c');

    .pngtree-shield-lock-logo-icon-vector-template-png-image3558680-removebg-preview-1-fic {
      width: 3.986rem;
      height: 4.6883rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .healthhithiyas-MbS {
    width: 32.1rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.2575;
    font-family: Times New Roman, 'Source Sans Pro';
    white-space: nowrap;
    height: 6.1rem;
    left: 14.2792rem;
    top: 2.4125rem;
    font-size: 4.8rem;
    color: #ba2e33;
  }
  .pages-of-des-2-fME {
    position: absolute;
    left: 12rem;
    top: 11.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 120rem;
    height: 131.2953rem;

    .page-1-BqN {
      overflow: hidden;
      display: flex;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 1.3352rem;
      width: calc(100% - 0.0387rem);
      background-color: #e2dada;
      margin: 0rem 0rem 1.224rem 0.039rem;
      position: relative;
      flex-direction: column;

      .auto-group-6ywl-hYp {
        display: flex;
        flex-direction: column;
        border-top: solid 0.1rem #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.241rem 4.899rem 3.953rem 2.934rem;
        width: 100%;
        align-items: center;

        .line-3-pdS {
          margin: 0rem 34.636rem 1.91rem 77.382rem;
          width: calc(100% - 112.0179rem);
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .auto-group-mls8-YJY {
          width: 100%;
          height: 12.6163rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-bexc-6L4 {
            margin-right: 12.0563rem;
            width: 66.6751rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .profile-2zQ {
              top: 0;
              align-items: flex-start;
              border-radius: 10.9832rem;
              box-sizing: border-box;
              padding-right: 3.361rem;
              position: absolute;
              left: 0;
              display: flex;
              width: 37.0174rem;
              height: 12.6163rem;

              .profile-logo-Aap {
                vertical-align: top;
                border-radius: 10.9832rem;
                flex-shrink: 0;
                margin-right: 2.979rem;
                width: 12.0774rem;
                height: 11.1163rem;
                object-fit: cover;
              }
              .auto-group-knz2-HQY {
                flex-shrink: 0;
                width: 18.6rem;
                height: 12rem;
                position: relative;

                .user-2d2 {
                  white-space: nowrap;
                  width: 14.5rem;
                  left: 0;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #1e1e1e;
                  font-family: Times New Roman, 'Source Sans Pro';
                  height: 8.1rem;
                  position: absolute;
                  top: 0;
                  font-size: 6.4rem;
                }
                .item-000000-Y5a {
                  left: 0rem;
                  top: 7.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #1e1e1e;
                  white-space: nowrap;
                  width: 18.6rem;
                  height: 4.6rem;
                  position: absolute;
                  font-size: 3.6rem;
                  font-family: Times New Roman, 'Source Sans Pro';
                }
              }
            }
            .email-DSc {
              align-items: center;
              width: 29.8067rem;
              height: 5.9rem;
              position: absolute;
              left: 36.8684rem;
              top: 0;
              display: flex;

              .email-logo-ZFa {
                width: 7.2067rem;
                height: 5.9rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0rem;
              }
              .usergmailcom-Vuv {
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                font-size: 3.2rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .phone-RHn {
              align-items: flex-start;
              width: 23.6176rem;
              height: 4.4rem;
              position: absolute;
              left: 38.3575rem;
              top: 6.3582rem;
              display: flex;

              .phone-logo-9zU {
                flex-shrink: 0;
                margin-right: 1.4891rem;
                width: 4.2285rem;
                height: 4rem;
                object-fit: cover;
                vertical-align: top;
              }
              .item-123-456-7890-6ui {
                flex-shrink: 0;
                margin-top: 0.3rem;
                font-size: 3.2rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .addres-2Ha {
            align-items: flex-end;
            flex-shrink: 0;
            margin-top: 0.3837rem;
            display: flex;

            .address-logo-yyW {
              flex-shrink: 0;
              margin-right: 4.4494rem;
              width: 7.486rem;
              height: 10.3163rem;
              object-fit: cover;
              vertical-align: top;
            }
            .first-road-51th-cross-banglore-WyS {
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Times New Roman, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.3407rem;
              max-width: 21.5rem;
            }
          }
        }
      }
      .rectangle-1-DN4 {
        margin-bottom: 3.1804rem;
        width: 100%;
        height: 5.7742rem;
        background-color: #ecb6b6;
        flex-shrink: 0;
      }
      .auto-group-kxbv-kMz {
        align-items: flex-start;
        flex-shrink: 0;
        margin-right: 3.3975rem;
        width: calc(100% - 3.3975rem);
        display: flex;

        .profile-pic-VKa {
          margin-right: 6.7553rem;
          width: 31.6893rem;
          height: 31.2597rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 23.3955rem;
          flex-shrink: 0;
        }
        .auto-group-ypx8-RU8 {
          width: 78.1579rem;
          height: 32.341rem;
          position: relative;
          flex-shrink: 0;
          margin-top: 1.1199rem;

          .hello-dr-am-abcd-have-issues-facing-to-blood-sugar-sugar-blood-pressure-bp-and-possibly-digestion-gestic-from-2-years-m2C {
            height: 16.1rem;
            position: absolute;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            width: 76.8rem;
            top: 0;
            font-family: Times New Roman, 'Source Sans Pro';
            left: 1.3579rem;
          }
          .rectangle-2-ERa {
            height: 14.5715rem;
            position: absolute;
            left: 0.1078rem;
            top: 15.5683rem;
            background-color: #d9d9d9;
            width: 76.7954rem;
          }
          .title-bar-NGt {
            width: 75.4705rem;
            height: 4.1rem;
            position: absolute;
            left: 0.5591rem;
            top: 15.6821rem;
            display: flex;
            align-items: center;

            .auto-group-s54g-6ya {
              margin-right: 0rem;
              width: 36.6839rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .rectangle-3-ekC {
                background-color: #d9d9d9;
                height: 3.8703rem;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                filter: blur(0.2rem);
                width: 36.6839rem;
                position: absolute;
                left: 0;
                top: 0;
              }
              .blood-pressure-bp-NRJ {
                height: 4.1rem;
                font-weight: 400;
                line-height: 1.2575;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                width: 26.2rem;
                position: absolute;
                left: 6.9553rem;
                top: 0;
                font-size: 3.2rem;
                color: #000000;
              }
            }
            .auto-group-kqjl-Uz8 {
              width: 38.7866rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .rectangle-4-SRA {
                width: 38.7866rem;
                position: absolute;
                top: 0;
                border: solid 0.1rem #000000;
                filter: blur(0.2rem);
                background-color: #d9d9d9;
                height: 3.8703rem;
                left: 0;
                box-sizing: border-box;
              }
              .blood-sugar-sugar-ZVn {
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                top: 0;
                font-size: 3.2rem;
                white-space: nowrap;
                width: 25.8rem;
                height: 4.1rem;
                position: absolute;
                left: 4.7032rem;
              }
            }
          }
          .boder-1-foi {
            vertical-align: top;
            width: 76.9552rem;
            height: 14.6544rem;
            position: absolute;
            left: 0;
            top: 15.5683rem;
            object-fit: contain;
          }
          .slno-1-1sa {
            width: 1.6rem;
            height: 10.7rem;
            position: absolute;
            left: 1.5068rem;
            top: 19.5353rem;

            .item-3-Z8Q {
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
              height: 4.1rem;
              position: absolute;
              top: 6.6rem;
              line-height: 1.2575;
              color: #000000;
              width: 1.6rem;
              left: 0;
              font-size: 3.2rem;
              font-weight: 400;
            }
            .item-1-GHi {
              height: 4.1rem;
              position: absolute;
              top: 0;
              font-size: 3.2rem;
              color: #000000;
              white-space: nowrap;
              width: 1.6rem;
              left: 0;
              font-weight: 400;
              line-height: 1.2575;
              font-family: Times New Roman, 'Source Sans Pro';
            }
            .item-2-BQg {
              line-height: 1.2575;
              color: #000000;
              white-space: nowrap;
              width: 1.6rem;
              position: absolute;
              left: 0;
              font-size: 3.2rem;
              height: 4.1rem;
              top: 3.7rem;
              font-weight: 400;
              font-family: Times New Roman, 'Source Sans Pro';
            }
          }
          .bfaf-note-HCp {
            flex-direction: column;
            width: 38.8528rem;
            height: 12.7886rem;
            position: absolute;
            left: 20.8415rem;
            top: 19.5524rem;
            align-items: flex-end;
            display: flex;

            .auto-group-7hbs-QoE {
              width: calc(100% - 16.714rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 1.8rem 16.714rem;

              .bf-jqW {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 18.839rem 0.133rem 0rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
              }
              .af-TWc {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1329rem;
              }
            }
            .auto-group-z3qq-zWY {
              margin: 0rem 0rem 1.836rem 16.779rem;
              width: calc(100% - 16.7785rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .bf-jDE {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.014rem 18.774rem 0rem 0rem;
              }
              .af-3ji {
                flex-shrink: 0;
                margin-bottom: 0.0136rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .auto-group-2o8g-nSQ {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 1.296rem 16.779rem;
              width: calc(100% - 16.7785rem);
              display: flex;

              .bf-vYc {
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.11rem 18.774rem 0rem 0rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
              }
              .af-RkG {
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.1101rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
              }
            }
            .note-bf-is-before-food-and-af-is-after-food-9gG {
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 10.9528rem;
              font-size: 1.5rem;
            }
          }
          .add-1-GVz {
            width: 55.1817rem;
            height: 10.4057rem;
            position: absolute;
            left: 14.6645rem;
            top: 19.7524rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-gzix-oF2 {
              align-items: flex-start;
              flex-shrink: 0;
              margin-bottom: 0.5237rem;
              width: 100%;
              display: flex;

              .add-M1e {
                margin-right: 28.977rem;
                width: 3rem;
                height: 3rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .add-tGU {
                width: 3rem;
                height: 3rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 17.2047rem;
              }
              .add-DpY {
                flex-shrink: 0;
                margin-top: 0.1228rem;
                width: 3rem;
                height: 3rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .auto-group-dgbn-ZdW {
              margin-bottom: 0rem;
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .add-imJ {
                height: 3rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 28.977rem 0.064rem 0rem;
                width: 3rem;
              }
              .add-FmE {
                width: 3rem;
                height: 3rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 17.205rem 0.436rem 0rem;
              }
              .add-mzU {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.4364rem;
                width: 3rem;
                height: 3rem;
              }
            }
            .auto-group-nogq-v6g {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .add-GgL {
                height: 3rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 28.977rem 0.323rem 0rem;
                width: 3rem;
              }
              .add-1P2 {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.097rem 17.205rem 0rem 0rem;
                width: 3rem;
                height: 3rem;
              }
              .add-9VE {
                flex-shrink: 0;
                margin-top: 0.3228rem;
                width: 3rem;
                height: 3rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
    .page-2-GZr {
      height: 67.5rem;
      position: relative;
      overflow: hidden;
      background-color: #e2dada;
      flex-shrink: 0;
      width: 100%;

      .file-1-pLU {
        left: 3.1332rem;
        top: 4.1035rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 23.1rem;
        position: absolute;

        .removebg-preview-1-YnG {
          margin-bottom: 0rem;
          width: 20rem;
          height: 20rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .cold-on-12-5-2023-5GQ {
          flex-shrink: 0;
          margin-left: 0.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Times New Roman, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .file-2-ysa {
        position: absolute;
        left: 31.9756rem;
        top: 4.1035rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 23.1rem;

        .removebg-preview-1-J9A {
          width: 20rem;
          height: 20rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0rem;
        }
        .cold-on-12-5-2023-EHi {
          color: #000000;
          font-family: Times New Roman, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
        }
      }
      .file-3-9vU {
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 23.1rem;
        position: absolute;
        left: 60.818rem;
        top: 4.1035rem;
        align-items: center;

        .removebg-preview-1-VUY {
          height: 20rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0rem;
          width: 20rem;
        }
        .cold-on-12-5-2023-qHW {
          flex-shrink: 0;
          margin-left: 0.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Times New Roman, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .file-5-yPi {
        width: 106.5272rem;
        height: 54.4504rem;
        position: absolute;
        left: 3.1332rem;
        top: 4.1035rem;
        display: flex;
        align-items: flex-end;

        .auto-group-z1wt-hac {
          margin-right: 8.8424rem;
          width: 20rem;
          height: 23.1rem;
          position: relative;
          flex-shrink: 0;

          .removebg-preview-1-SYC {
            vertical-align: top;
            width: 20rem;
            height: 20rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
          }
          .cold-on-12-5-2023-nMA {
            width: 17.9rem;
            left: 1.25rem;
            top: 20rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Times New Roman, 'Source Sans Pro';
            height: 3.1rem;
            position: absolute;
            white-space: nowrap;
          }
        }
        .file-6-6Mr {
          margin-right: 11.0184rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .removebg-preview-1-rM2 {
            width: 20rem;
            height: 20rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .cold-on-12-5-2023-bJc {
            line-height: 1.2575;
            color: #000000;
            font-family: Times New Roman, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .add-file-KkQ {
          margin: 0rem 11.018rem 0.6rem 0rem;
          width: 15.6481rem;
          height: 22.5rem;
          position: relative;
          flex-shrink: 0;

          .removebg-preview-1-G9r {
            object-fit: cover;
            vertical-align: top;
            width: 15.6481rem;
            height: 20rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .add-file-1NL {
            position: absolute;
            left: 3.574rem;
            top: 19.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            font-family: Times New Roman, 'Source Sans Pro';
            width: 8.1rem;
            height: 3.1rem;
            white-space: nowrap;
            line-height: 1.2575;
            color: #086ada;
          }
        }
        .file-4-Wpt {
          flex-shrink: 0;
          margin-bottom: 31.3504rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .removebg-preview-1-Gp4 {
            margin-bottom: 0rem;
            width: 20rem;
            height: 20rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .cold-on-12-5-2023-cN8 {
            flex-shrink: 0;
            margin-left: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Times New Roman, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
}
